body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c8d1e4;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 40px;
}
#myH1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:#282c3404
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #61dafb;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0,
    0, 0.2);
}
#display{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #282c34;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
#buttons{
    display: flex;
    gap: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#startbtn, #stopbtn, #resetbtn{
    padding: 20px 20px;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}